<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>uk.co.lukasa.certifi-prompt</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/certifi-prompt</string>
	</array>
	<key>StartInterval</key>
	<integer>28800</integer>
    <key>StandardOutPath</key>
    <string>/var/log/certifi-prompt.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/certifi-prompt.log</string>
</dict>
</plist>

<!-- @@@@LingonWhatStart:/usr/local/bin/certifi-prompt@@@@LingonWhatEnd -->